body {
  font-family: 'Syne', sans-serif;
  background-color: rgb(230, 239, 237);
}

header {
  background-color: rgb(160, 193, 185);
  padding: 0.1em;
}

.navbar {
  max-width: 900px;
  margin: 1em auto;
  padding: 0 1.5rem;
}

h1 {
  text-transform: uppercase;
}

h2 {
  font-weight: normal;
  color: white;
  display: inline;
  padding-right: 0.3em;
}

h3 {
  display: inline;
  margin: 1em;
}

img {
  width: 100%;
  border-radius: 0.5em;
  margin-bottom: 1.6em;
}

input,
textarea {
  width: 100%;
  height: 3em;
  margin: 1.6em 0;
  font-family: 'Syne', sans-serif;
}

textarea {
  height: 10em;
}

.submit {
  text-align: right;
}

input[type="submit"],
a {
  width: 6em;
  font-family: 'Syne', sans-serif;
  font-weight: bold;
  color: white;
  background-color: rgb(160, 193, 185);
  border: none;
  border-radius: 0.5em;
}

i {
  font-size: 2em;
  margin: 0.5em;
}

p {
  margin: 1em;
}

a {
  text-decoration: none;
  font-weight: normal;
  padding: 0.5em;
}

.edit-link {
  padding-top: 1.5em;
}
